/* Style the header */

* {
    box-sizing: border-box;
}

/*===============================================================================================*/
.article-title {
    margin-top: 5px;
    font-weight: Bold;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    margin-bottom: 5px;
    font-size: 23px;
    letter-spacing: 0.06em;
}

hr {
    border-bottom: 3px solid black;
    margin-top: 0.5;
    margin-bottom: 0.5;
    width: 35px;
    margin-left: 0;
}

/*===============================================================================================*/

.planet-ticker {
    font-size:  15px;
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;

    --gap: 100px;
    display: flex;
    gap: var(--gap);
}

.planet-ticker ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.planet-ticker li{
    font-weight: bold;
}

/*===============================================================================================*/

.articlesplit {
    border-bottom: 1px solid black;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 80%;
    margin-left: 10%;
    opacity: 25%;
}

.row {
    display: flex;
    margin-top: 35px;
    width: 100%;
}

.column {
    max-width: 33%;
}

.alignRight {
    justify-content: right;
}

.article-body {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    letter-spacing: 0.02em;
    color: #444;
}

.columnleft {
    margin-left: 12%;
    margin-right: 50px;
}

.Collapsible {
    font-family: Verdana, sans-serif;
    margin-bottom: 2.5px;
    font-size: 13.5px;
    letter-spacing: 0.07em;
    width: 100%;
}

.Collapsible li{
    font-family: Verdana, sans-serif;
    margin-bottom: 8px;
    margin-right: 15px;
    font-size: 11.5px;
    letter-spacing: 0.07em;
}

.Collapsible__trigger:hover {
    background-color: yellow;
}

.container {
    position: relative;
    letter-spacing: 0.07em
}

.smallcontainer {
    display: flex; /* Aligns items horizontally */
    align-items: flex-start; /* Vertically aligns image and text */
    letter-spacing: 0.07em;
}

.bottom-left {
    color: black;
    text-align: left; /* Align text normally within the container */
    margin-left: 15px; /* Adds spacing between the text and the image */
    margin-right: 15px;
    padding: 0;
    margin-top: 0px;
    font-size: 18px;
    opacity: 60%;
}

.bottom-right {
    color: white;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-right: 15px;
    font-size: 20px;
}

.columnright {
    margin-right: 12%;
    margin-left: 50px;
    max-width: 28%;
}

.rightarticles {
    font-size: 30px;
    font-family: Verdana, sans-serif;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 16px;
    letter-spacing: 0.07em;
}
/*===============================================================================================*/

body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    margin: 0;
}

.nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: stretch;

}

.site-title {
    color: #FDDA0D;
    font-size: 3rem;
}

.nav ul {
    padding-right: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: #FDDA0D;
    font-size: 22px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}